/*Specification*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul {
  list-style: none; }

body {
  font-family: 'Yantramanav', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #a3a6ac; }

input, button {
  outline: none;
  border: 0; }

a {
  text-decoration: none; }

.stanrdart {
  max-width: 1280px;
  height: auto;
  position: relative;
  margin: 0 auto; }

/* 961 - 1368 px */
@media screen and (max-width: 1368px) {
  .history {
    margin-left: 80px; }
  .ipad {
    margin-left: 80px; }
  .img-layer83 {
    width: 481px; }
  .img-layer17 {
    width: 241px; }
  .img-layer18 {
    width: 207px; }
  .img-layer84 {
    max-width: 927px; }
    .img-layer84__text {
      padding-left: 10px; }
    .img-layer84__button {
      margin-right: 0;
      text-align: left; }
  .graphic__title {
    padding-bottom: 10px; }
  .graphic__text-one {
    padding-bottom: 10px; }
  .circular {
    margin-left: 10px; }
    .circular__item {
      padding-right: 0;
      margin-left: 20px; }
  .monitor {
    padding-left: 0; }
    .monitor p {
      left: 140px; }
  .img-layer86 {
    width: auto; }
  .img-layer87 {
    width: auto;
    margin-left: 0; }
  .img-layer91 {
    width: auto;
    margin-left: 0; }
  .img-layer88 {
    width: auto;
    margin-left: 0; }
  .img-layer88 {
    width: auto;
    margin-left: 0; }
  .img-layer90 {
    width: auto; }
  .img-layer95 {
    width: auto;
    margin-left: 0; }
  .img-layer89 {
    width: auto;
    margin-left: 0; }
    .img-layer89__content h5:after {
      left: 55px; }
    .img-layer89__content p {
      max-width: 150px; }
  .img-layer93 {
    width: auto;
    margin-left: 0; }
  .img-layer92 {
    width: auto;
    margin-left: 0; }
  .img-layer96 {
    width: auto;
    margin-left: 0; }
  .img-layer94 {
    width: auto;
    margin-left: 0; }
  .img-layer97 {
    width: auto;
    margin-left: 0; }
  .visit-card {
    margin-right: 50px; }
  .skillbox {
    margin-left: 70px;
    max-width: 250px; }
  .img-layer439 {
    padding-left: 50px; }
  .founder__text {
    max-width: 650px; }
  .plans-premium {
    margin-left: 83px; }
  .plans-standart {
    margin-left: 42px; }
  .email {
    margin-left: 0; }
    .email-content {
      margin-bottom: 50px; }
  .office {
    margin-left: 0; }
  .phone {
    margin-left: 0; }
  .info-form {
    margin: 40px 0 65px; }
    .info-form__email {
      margin: 0 30px; }
    .info-form__comment {
      max-width: 930px; }
    .info-form__button {
      max-width: 930px; } }
