@import "colors" //интегрируем переменные с цветами
//@import "fontello" //иконки с fontello

/*Specification*/
*
 margin: 0
 padding: 0
 box-sizing: border-box

ul
	list-style: none

body
 font-family: 'Yantramanav', sans-serif
 font-size: 16px
 font-weight: 300
 color: $body-text

input, button
 outline: none
 border: 0

a
	text-decoration: none

.stanrdart /*общее для секций*/
	max-width: 1280px
	height: auto
 position: relative
 margin: 0 auto











@import "media" //интегрируем медиа запросы